<!DOCTYPE html>
<html ng-app="studentApp">
    <head>
        <title>All My Students</title>

        <!-- 3rd party -->
        <script type="text/javascript" src="js/jquery.min.js"></script>

        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/font-awesome.min.css"/>

        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/angular-route.min.js"></script>
        <script type="text/javascript" src="js/ui-bootstrap-tpls-0.11.2.min.js"></script>

        <!-- Ours -->
        <link rel="stylesheet" href="css/styles.css" />
        <script type="text/javascript" src="js/studentApp.js"></script>
    </head>
    <body>
        <div id="mainContainer" ng-controller="StudentController">
            <header>
                <input class="right" id="search" ng-model="searchText" placeholder="Search">
            </header>

            <section id="content">

                <div class="row header">
                    <span class="studentEdit"></span>
                    <span class="studentLast">Last</span>
                    <span class="studentFirst">First</span>
                    <span class="studentId">ID</span>
                </div><br/>

                <div id="noStudentAlert" ng-show="students.length == 0">
                    <span>There are no students.</span>
                </div>

                <span ng-repeat="student in students | filter: searchText">
                    <div class="row">
                        <span class="fa fa-cog cursor studentEdit" ng-click="showEditMenu($index)"></span>
                        <span class="studentLast">{{student.last}}</span>
                        <span class="studentFirst">{{student.first}}</span>
                        <span class="studentId">{{student.id}}</span>
                    </div>
                    <div class="subRow editMenu" ng-show="student.isActive">
                        <span class="fa fa-trash-o cursor" ng-click="delUser(student)" title="Delete Student"></span>
                        <span class="fa fa-edit cursor" ng-click="updateUser(student, $index)" title="Edit Student"></span>
                    </div>
                </span>

                <form name="newStudent" novalidate ng-submit="createUser()">
                    <div class="row">
                        <div ng-show="showAddMenu">
                            <span class="fa fa-minus-square-o cursor studentEdit" ng-click="closeNewUserInput()"></span>
                            <input type="text" class="studentLast" ng-model="newLastName" placeholder="Last" ng-minlength=3 ng-maxlength=20 required />
                            <input type="text" class="studentFirst" ng-model="newFirstName" placeholder="First" ng-minlength=3 ng-maxlength=20 required />
                            <button type="submit" class="fa fa-floppy-o studentId unstyled" ng-disabled="newStudent.$invalid"></button>
                        </div>
                        <span class="fa fa-plus-square-o studentEdit" ng-click="showAddMenu = !showAddMenu" ng-hide="showAddMenu"></span>
                    </div>
                </form>

                <button class="btn btn-default btn-xs right" ng-click="refresh()">Refresh</button>
                <div style="clear: both;"></div>
            </section>

            <footer>
                <span class="fa fa-copyright"></span> 2014
            </footer>
            <div style="clear: both;"></div>
        </div>

        <!-- Ensure resources are loaded to be responsive, an error may log to the console as a result... -->
        <div ng-include="'partials/userEditModal.html'"></div>
    </body>
</html>